<div class="top-row ps-3 navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Asset Squirrel</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill icon-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipmentassignment">
                <span class="bi bi-layout-text-sidebar-reverse icon-menu"></span> Assignment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipmenthandover">
                <span class="bi bi-person-check-fill icon-menu" aria-hidden="true"></span> Equipment handover
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipmentreturn">
                <span class="bi bi-person-dash-fill icon-menu" aria-hidden="true"></span> Equipment return
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipment">
                <span class="bi bi-boombox icon-menu" aria-hidden="true"></span> Equipment
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="invoices">
                <span class="bi bi-file-earmark-medical icon-menu"></span> Invoices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="bi bi-geo-alt icon-menu" aria-hidden="true"></span> Locations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employees">
                <span class="bi bi-people icon-menu" aria-hidden="true"></span> Employees
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dictionares">
                <span class="bi bi-journal-album icon-menu" aria-hidden="true"></span> Dictionares
            </NavLink>
        </div>

        <AdminOnly>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="bi bi-person-gear icon-menu" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        </AdminOnly>
    </nav>
</div>

