@page "/dictionares"

<div class="row col-12">
    <button class="btn btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => PageChange(1))"> Suppilers </button>
    <button class="btn btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => PageChange(2))"> Manufacturer </button>
    <button class="btn btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => PageChange(3))"> Hardware type </button>
    <button class="btn btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => PageChange(4))"> Equipment </button>
    <button class="btn btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => PageChange(5))"> Internet </button>
</div>

@if(pageNumber == 1){
    <DictionarySuppilers @rendermode="RenderMode.InteractiveServer"></DictionarySuppilers>
} else if (pageNumber == 2) {
    <DictionaryManufacturer @rendermode="RenderMode.InteractiveServer"></DictionaryManufacturer>
} else if (pageNumber == 3) {
    <DictionaryHardwareType @rendermode="RenderMode.InteractiveServer"></DictionaryHardwareType>
} else if (pageNumber == 4) {
    <DictionaryEquipment @rendermode="RenderMode.InteractiveServer"></DictionaryEquipment>
} else if (pageNumber == 5) {
    <DictionaryInternet @rendermode="RenderMode.InteractiveServer"></DictionaryInternet>
}
@code {
    int pageNumber = 0;

    public void PageChange(int pageNumber){
        this.pageNumber = pageNumber;
    }
}
