@using AssetSquirrel.CoreBusiness.Dto
@using AssetSquirrel.UseCases.Suppilers;
@using AssetSquirrel.UseCases.Suppilers.Interfaces

@inject IViewSuppilersUseCase ViewSuppilersUseCase;
@inject IJSRuntime JSRuntime

<div class="row col-12">
    <div class="d-flex align-items-center gap-2">
        <button class="btn btn-sm btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => ShowModalAddSuppiler())">
            <i class="bi bi-shop"></i>
            Add suppiler
        </button>

        <TextSearchBar placeholderText="suppiler name"
        TextSearchBarCallback="SearchSuppilerCallback">
        </TextSearchBar>
    </div>
</div>

<div class="row offset-1 col-10 mt-3">
    <div id="table-container">
        <table id="table-color" class="table table-bordered">
            <thead>
                <tr class="text-center">
                    <th scope="col"> Lp. </th>
                    <th scope="col"> Name </th>
                    <th scope="col"> Description </th>
                    <th scope="col"> IsActive? </th>
                    <th scope="col">
                        <i class="bi bi-gear"></i>
                    </th>
                </tr>
            </thead>
            <tbody>
                @if(suppilers is not null && suppilers.Count() > 0)
                {
                    @foreach(var suppiler in suppilers)
                    {
                        <tr>
                            <td> 1 </td>
                            <td> @suppiler.Name </td>
                            <td> @suppiler.Description </td>
                            @if(suppiler.IsActive)
                            {
                                <td>
                                    <button class="btn btn-sm btn-outline-danger" @onclick="(() => ChangeSuppilerIsActive(suppiler))" title="Dezaktywuj lokalizację.">
                                        <i class="bi bi-check-circle"></i>
                                    </button>
                                </td>
                            }
                            else
                            {
                                <td>
                                    <button class="btn btn-sm btn-outline-danger" @onclick="(() => ChangeSuppilerIsActive(suppiler))" title="Dezaktywuj lokalizację.">
                                        <i class="bi bi-check-circle"></i>
                                    </button>
                                </td>
                            }
                            <td>
                                <button class="btn btn-sm btn-outline-warning" @onclick="(() => ShowModalEditSuppiler(suppiler))" title="Edytuj dane lokalizacji.">
                                    <i class="bi bi-pen"></i>
                                </button>
                                <button class="btn btn-sm btn-outline-danger" @onclick="(() => DeleteSuppiler(suppiler))" title="Usuń lokalizację.">
                                    <i class="bi bi-trash3"></i>
                                </button>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>



@code {
    public string searchFilter { get; set; } = string.Empty;
    public bool addSupillerModal { get; set; } = false;

    List<SuppilerDto> suppilers { get; set; }

    protected override async Task OnInitializedAsync()
    {
        suppilers = await ViewSuppilersUseCase.GetSuppilersAsync(a => true);
    }

    public async Task SearchSuppilerCallback(string searchFilter)
    {
        this.searchFilter = searchFilter;
        await Task.Delay(100);
    }

    public async Task SearchSuppiler()
    {
        suppilers = await ViewSuppilersUseCase.GetSuppilersAsync(
            a => a.Name.ToLower().Contains(this.searchFilter)
            );

        StateHasChanged();
    }

    public async Task ChangeSuppilerIsActive(SuppilerDto suppiler)
    {
        suppiler.IsActive = !suppiler.IsActive;

        if(await ViewSuppilersUseCase.UpdateSuppiler(suppiler))
        {
            await JSRuntime.InvokeVoidAsync("OperationSuccessful", "Change saved.");
            StateHasChanged();
        }
        else
        {
            await JSRuntime.InvokeVoidAsync("OperationSuccessful", "Saving error.");
        }
    }

    public void ShowModalAddSuppiler()
    {

    }

    public void ShowModalEditSuppiler()
    {

    }

    public void DeleteSuppiler(){

    }
}
