<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Asset Squirrel</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="hardware">
                <span class="bi bi-motherboard icon-menu"></span> Hardware
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="search">
                <span class="bi bi-search icon-menu" aria-hidden="true"></span> Search
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipmenthandover">
                <span class="bi bi-person-check-fill icon-menu" aria-hidden="true"></span> Equipment handover
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="equipmentreturn">
                <span class="bi bi-person-dash-fill icon-menu" aria-hidden="true"></span> Equipment return
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logs">
                <span class="bi bi-list icon-menu" aria-hidden="true"></span> Logs
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="locations">
                <span class="bi bi-geo-alt icon-menu" aria-hidden="true"></span> Locations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dictionares">
                <span class="bi bi-journal-album icon-menu" aria-hidden="true"></span> Dictionares
            </NavLink>
        </div>
    </nav>
</div>

