@page "/equipmenthandover"
@using AssetSquirrel.UseCases.EquipmentHandover.Interfaces

@inject NavigationManager Navigation
@inject IViewEquipmentHandoverUseCase ViewEquipmentHandover
@inject IJSRuntime JSRuntime

@rendermode InteractiveServer

<div class="row col-12">
    <div class="d-flex align-items-center gap-2">
        <button class="btn btn-sm btn-outline-dark" style="width: 10rem; margin: 0.5rem;" @onclick="(() => RedirectToAddEquipmentHandover())">
            <i class="bi bi-feather"></i>
            Handover
        </button>

        <TextSearchBar placeholderText="Document number"
                       TextSearchBarCallback="SearchCallback">
        </TextSearchBar>
    </div>
</div>

@code {
    bool modalAddEquipmenthandover = false;

    public void RedirectToAddEquipmentHandover()
    {
        Navigation.NavigateTo("/addequipmenthandover");
    }

    public async void SearchCallback(string searchText)
    {
        await JSRuntime.InvokeVoidAsync("console.log", $"Searching for: {searchText}");
    }
}
