@using AssetSquirrel.CoreBusiness.Dto
@using AssetSquirrel.UseCases.Employees.Interfaces
@using System.Diagnostics

@inject IEditEmployeeUseCase EditEmployeeUseCase

<div class="dialog-body">
    <EditForm FormName="EditEmployee"
        EditContext="EditContext">
    
        <DataAnnotationsValidator></DataAnnotationsValidator>
    
        <div class="row mt-3 mb-3">
            <div class="offset-1 col-3">
                <label class="col-form-label"> Employee Code </label>
            </div>
            <div class="col-6">
                <InputText class="form-control" @bind-Value="Employee.EmployeeCode"></InputText>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="offset-1 col-3">
                <label class="col-form-label"> First Name </label>
            </div>
            <div class="col-6">
                <InputText class="form-control" @bind-Value="Employee.FirstName"></InputText>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="offset-1 col-3">
                <label class="col-form-label"> Last Name </label>
            </div>
            <div class="col-6">
                <InputText class="form-control" @bind-Value="Employee.LastName"></InputText>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="offset-1 col-3">
                <label class="col-form-label"> Email </label>
            </div>
            <div class="col-6">
                <InputText class="form-control" @bind-Value="Employee.Email"></InputText>
            </div>
            <div class="col-1">
            </div>
        </div>

        <div class="row mt-3 mb-3">
            <div class="offset-1 col-3">
                <label class="col-form-label"> Phone number </label>
            </div>
            <div class="col-6">
                <InputText class="form-control" @bind-Value="Employee.PhoneNumber"></InputText>
            </div>
            <div class="col-1">
            </div>
        </div>

    </EditForm>
</div>
<div class="dialog-footer">
    <button class="btn btn-sm btn-danger w-25" @onclick="OnCancel"> Zamknij </button>

    <button class="btn btn-sm btn-primary w-25" @onclick="UpdateEmployee"> Zapisz </button>
</div>

@if(Employee is not null)
{
    
}
else
{
    <p class="text-center"> "Something went wrong..." </p>
}

@code {
    [Parameter, EditorRequired]
    public EventCallback OnCancel { get; set; }

    [Parameter, EditorRequired]
    public EventCallback<bool> OnSave { get; set; }

    [Parameter, EditorRequired]
    public EmployeeDto Employee { get; set; }

    private EditContext? EditContext;

    protected override void OnInitialized()
    {
        EditContext = new EditContext(Employee);
        base.OnInitialized();
    }

    public async Task UpdateEmployee()
    {
        if (EditContext is not null && EditContext!.Validate())
        {
            await OnSave.InvokeAsync(await EditEmployeeUseCase.EditEmployeeAsync(Employee));
        }
        else
        {
            Debug.WriteLine("Validation failed.");
        }
    }
}
